.fish-content {
    border: 12px double orangered;
    background-color: white;
   
}
.fish__image{
    margin: 2rem;
    border: 2px solid black;
}
.fish{
    text-align: center;
}
.fish__food{
    padding-bottom: 1rem;
}